{% extends 'base.html.twig' %}

{% block title %}Hello ReviewController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
        <h3>Reviews</h3>
    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
    <div class="row" style = margin-bottom:55px;">
        <div class="col-md-12">
            <table id="ftable" class="table table-condensed table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>id</th>
                    <th>content</th>

                    <th width="60px">status</th>
                </tr>
                </thead>
                <tbody>
                {% for review in reviews %}
                    <tr>
                        <td>{{ review.id }}</td>
                        <td>{{ review.content }}</td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            {% if review.status =="pending" %}
                            <td class = "actions">
                                <a href="{{ path('status_update', { 'id': review.id,'status':"approve" }) }}"
                                   class = "btn btn-sm btn-info glyphicon-ok"  title="approve"> Approve</a>

                                    <a href="{{ path('status_update', { 'id': review.id,'status':"reject" }) }}"
                                       class = "btn btn-sm btn-primary glyphicon glyphicon-remove"  title="reject">Reject</a>
                            </td>
                                {% else %}
                                    <td>{{ review.status }}</td>
                            {% endif %}
                        {%else%}
                            <td>{{ review.status }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}