{% extends 'base.html.twig' %}


{% block body %}
    {% include 'navbar.html.twig' %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-error fade in" role="alert">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    {% if app.session.flashBag.has('error') %}
        <div class="alert alert-error fade in" role="alert">
        {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
<div class="example-wrapper">
    <div class="row" style = margin-bottom:55px;">
        <div class="col-md-12">
            <table id="ftable" class="table table-condensed table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>{% trans into language %}id{% endtrans %}</th>
                    <th>{% trans into language %}content{% endtrans %}</th>
                    <th>{% trans into language %}status{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for review in reviews %}
                    <tr>
                        <td>{{ review.id }}</td>
                        <td>{{ review.content }}</td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            {% if review.status =="pending" %}
                            <td class = "actions">
                                <a href="{{ path('status_update', { 'id': review.id,'status':"Approved" }) }}"
                                   class = "btn btn-sm btn-info glyphicon-ok"  title="approve"> {% trans into language %}Approve{% endtrans %}</a>

                                    <a href="{{ path('status_update', { 'id': review.id,'status':"Rejected" }) }}"
                                       class = "btn btn-sm btn-primary glyphicon glyphicon-remove"  title="reject">{% trans into language %}Reject{% endtrans %}</a>
                            </td>
                                {% else %}
                                    <td>{{ review.status }}</td>
                            {% endif %}
                        {%else%}
                            <td>{{ review.status }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

    {% set _currentPage = app.request.query.get('p') ?: 1 %}
    {% set _currentRoute = app.request.attributes.get('_route') %}
    {% set _currentParams = app.request.query.all %}
    {% if lastPage > 1 %}
        <nav>
            <ul class="pagination">
                {% if _currentPage > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path(_currentRoute, _currentParams|merge({p: _currentPage - 1})) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% endif %}
                {% for i in 1..lastPage %}
                    <li class="page-item {% if i == _currentPage %}active{% endif %}">
                        <a class="page-link" href="{{ path(_currentRoute, _currentParams|merge({p: i})) }}">{{ i }}</a>
                    </li>
                {% endfor %}
                {% if _currentPage < lastPage %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path(_currentRoute, _currentParams|merge({p: _currentPage + 1})) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}